body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 170%;
}

header {
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 120px;
    border-bottom: 3px solid #a7a7a7;
}

footer {
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 120px;
    border-top: 3px solid #a7a7a7;
}

main {
    min-height: 100vh;
    padding: 0px 5% 0px 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI';
    text-shadow: 5px 3px 30px black;
}

ul li {
    font-family: 'Lucida Sans';
}

img {
    max-width: 100%;
}

.header-logo{
    float: left;
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 4px black;
    transition: all linear 0.2s;
}

.header-logo:hover{
    cursor: pointer;
    transform:  scale(0.95);
    filter: brightness(0.85);
    transition: all linear 0.3s;
}

a.hamburger-menu {
    background-color: none !important;
    color: orange !important;
    border-bottom: none !important;
    position: fixed;
    top: -8px;
    right: 10px;
}


header a {
    color: orange;
    float: left;
    text-decoration: none;
    font-size: 27px;
    padding: 1px 10px;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

a.active {
    border-bottom: 3px solid orange;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    top: -15px;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: orange;
    font-size: 27px;
    padding: 8px 12px;
}

  /* линия снизу */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: orange;
    transition: width 0.4s ease;
}

  /* при наведении появляется линия */
    .nav-links a:hover::after {
    width: 100%;
}


.centered {
    text-align: center;
}

.hamburger-menu {
    display: none;
    font-size: 35px;
    float: right;
}

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row {
    overflow: hidden;
}

hr {
    border-top: 2px solid orange;
}

.tovar {
    border: 3px solid orange;
    border-radius: 15px;
    box-shadow: 3px 3px 4px black;
    display: inline-block;
    margin: 5px 10px;
}

.tovar img {
    border: 3px solid orange;
    border-radius: 15px;
}

.btnsel {
    border: 3px solid orange;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 5px 10px;
    background-color: whitesmoke;
    color: #797979;
    font-size: 18px;
    float: left;
    display: block;
    text-decoration: none;
}

.shop-menu {
    width: 200px;
}

.shop-menu a {
    border: 3px solid orange;
    border-radius: 15px;
    padding: 15px 30px;
    margin: 5px 10px;
    background-color: whitesmoke;
    color: #797979;
    font-size: 18px;
    float: left;
}

.input-box {
    width: 50%;
    height: 20px;
    font-size: 15px;
    background-color: white;
    border: 3px solid orange;
    border-radius: 20px;
}

.input-box2 {
    width: 50%;
    height: 80px;
    font-size: 15px;
    background-color: white;
    border: 3px solid orange;
    border-radius: 10px;
}

.input-sel {
    width: 50%;
    height: 25px;
    font-size: 15px;
    background-color: white;
    border: 3px solid orange;
    border-radius: 20px;
}

.input-submit {
    font-size: 20px;
    background-color: white;
    color: orange;
    padding: 5px 30px;
    border: 3px solid orange;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all linear 0.5s;
}

.input-submit:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
    background-color: orange;
    color: #fff;
    border-color: orangered;
}

.btn {
    text-align: center;
    color: #797979;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: orange;
    border: 3px solid orangered;
    border-radius: 15px;
    transition: all linear 0.2s;
} 

.btn:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
    color: orange;
    border-color: #797979;
    transition: all linear 0.1s;
}

@media (max-width: 770px) {

    [class*="col-"] {
        width: 100%;
    }


    .nav {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        background-color: whitesmoke;
        border: 3px solid orange;
        right: 1px;
        top: 90px;
      }
    
      .nav-links {
        display: none; /* ascuns inițial */
        flex-direction: column;  /* fiecare link pe linia lui */
        width: 100%;
        margin-top: 10px;
      }
    
      .nav-links a {
        display: block;     /* ocupă toată lățimea */
        padding: 12px 15px; /* spațiu frumos */
        margin: 0;          /* fără margin laterale */
        color:   #a7a7a7;
        text-align: left;   /* aliniere la stânga */
      }
    
      .hamburger-menu {
        display: block; /* afișăm pe mobil */
        position: absolute;
        right: 15px;
        top: 15px;
      }
    
      /* când meniul este activ */
      .nav.mobile .nav-links {
        display: flex;
        animation: slideDown 0.4s ease forwards;
      }
}
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}